@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Bangers|Kalam|Luckiest+Guy|Shadows+Into+Light&display=swap');

* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

body {
  background-color: black;
 
  font-family: 'Roboto', sans-serif;
 
}

a {
  text-decoration: none;
}

p {
  margin: 0.75rem 0;
}

/* Utility Classes */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
  
}

.text-center {
  text-align:center;
}

.text-primary {
  color: wheat;
  
}

.bg-light {
  background: rgba(17, 17, 17, 0.1);
  color: rgb(68, 0, 0);
}

.bg-dark {
  background: rgb(68, 0, 0);
  color: #fff;
}

.bg-primary {
  background: white;
  opacity: 1;
  color: #fff;
}

.l-heading {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.m-heading {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.py-1 { padding: 1.5rem 0; }
.py-2 { padding: 2rem 0; }
.py-3 { padding: 3rem 0; }

.p-1 { padding: 1.5rem; }
.p-2 { padding: 2rem; }
.p-3 { padding: 3rem; }

.btn {
  display: inline-block;
  color: #fff;
  background: rgb(68, 0, 0);
  padding: 0.5rem 2rem;
  border: solid white;
  padding: 1% 2% 1% 2%;
  border-radius: 5px;
}

.btn:hover {
  background: rgb(68, 0, 0);
}

.btn-dark {
  background: rgb(68, 0, 0);
  color: #fff;
}

.list {
  margin: 0.5rem 0;
  list-style: none;
}

.list li {
  padding: 0.5rem 0;
  border-bottom: #444 dotted 1px;
}

/* Navbar */
#navbar {
  display: flex;
  position: sticky;
  top:0;
  background: rgb(68, 0, 0);
  color: #fff;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  color: #fff;
  padding: 0.75rem;
  margin: 0 0.25rem;
}

#navbar ul li a:hover {
  background: rgb(68, 0, 0);
  border-radius: 5px;
}

/* Showcase */
#showcase {
  background: rgb(68, 0, 0) url('https://i.ibb.co/cDpwPp5/yesss.jpg') no-repeat center center/cover;
  height: 100vh;
  opacity: 0.7;
  color: #fff;
}


#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
  /* Overlay */
  position: absolute;
  top: 65px;
  left:0;
  right: 0;
  bottom: 0;
}

/* Section: What We Do */
#what .items {
  display: flex;
  padding: 1rem;
}

#what .items .item {
  flex: 1;
  text-align: center;
  padding: 1rem;
}

#what .items .item i {
  background: white;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

/* Section: Who We Are */
#who {
  display: flex;
}

#who div {
  flex: 1;
}

#who .who-img {
  background: url('https://i.ibb.co/bP9WmQt/no.jpg') no-repeat center center/cover;
}

/* Section: Clients */
#clients .items {
  display: flex;
}

#clients .items img {
  display: block;
  margin: auto;
  width: 60%;
}

/* Section: Contact */
#contact {
  display: flex;
}

#contact .map, #contact .contact-form {
  flex: 1;
}

#contact .contact-form .form-group {
  margin: 0.75rem;
}

#contact .contact-form label {
  display: block;
}

#contact .contact-form input,
#contact .contact-form textarea {
  width: 100%;
  padding: 0.5rem;
}
.container1{
  margin-left: 11%;
  margin-bottom: 6%;
  margin-top: 6%;
  

}

.column1{

  border: solid white;

  padding: 5% 6% 1% 5%;
  display:inline-block;
  margin: 0% 6% 6% 0%;
  background-color: rgb(68, 0, 0);
  color: #fff;
  transition: transform 1s;
  margin-left: 3%;
  line-height: 1.4;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  border-radius: 60px;
  box-shadow: 5px 10px #888888;



  
  
}
.column2{
  border: solid white;
  margin-left: 3%;
  

  padding: 5% 5% 1% 5%;
  display:inline-block;
  background-color: rgb(68, 0, 0);
  color: #fff;
  transition: transform 1s;

  line-height: 1.4;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  border-radius: 60px;

  box-shadow: 5px 10px #888888;





}
.btn-action{
  display: inline-block;
  color: #fff;
  background: black;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
  -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
    transition: transform 1s;
    box-shadow: 2px 4px red;


}
#fo{
  font-size: 50px;
  margin-left: 30%;
  text-shadow: 2px 2px #FF0000;

}
#ex{
  font-size: 50px;
  margin-left: 9%;
  text-shadow: 2px 2px #FF0000;

}
li{
  padding: 3% 0% 3% 0%;
}
.wow{
 margin-left: 35%;

}
.wow1{
  margin: 3%;
  margin-left: 15%;


}
.btn-action:hover{
  transform: scale(1.1);
  transition: 860ms; 
  background-color: rgb(68, 0, 0);

}
.column1:hover{
  transform: scale(1.04);
  background-color: rgb(24, 23, 23);
  transition: 860  ease-out;
}
.column2:hover{
  transform: scale(1.04);
  background-color: rgb(24, 23, 23) ;
  transition: 860ms;
}
.btn-action{
  margin-left: 31%;
  margin-top: 5%;
}








/* 

@-webkit-keyframes example {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
} */

/* Standard syntax */
@keyframes example {
  0%   {background-color: rgb(3, 33, 34);}
  25%  {background-color: rgb(76, 195, 20);}
  50%  {background-color: rgb(255, 94, 0);}
  100% {background-color: red}
  
}












